<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    
    <!--Styles-->
    <link rel="stylesheet" href="../css/style.css">
    <title>gJuls | Experiencias</title>
</head>
<body>
    <!--Header-->
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg p-0">
            <div class="container-fluid">
                <!--brand-->
            <a href="../index.html" class="d-flex navbar-brand p-2">
                <img src="../assets/imgs/logoGjuls-ico.svg" alt="Logo  - Diseño"/>
                <img src="../assets/imgs/logoGjuls-txt.svg" alt="gJuls  - Que inspira"/>
            </a>
                <!--btnMenu-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <!--<span class="navbar-toggler-icon"></span>-->
                <img src="../assets/icons/list.svg" alt="..."/>
            </button>
            <!--MenuCollapse-->
            <div class="collapse navbar-collapse MenuCollapse" id="navbarMenu">
                <ul class="navbar-nav mb-2 mb-lg-0">
                <li>
                    <a href="./portafolio.html">
                        <img src="../assets/imgs/ico_journal-bookmark-fill.svg" >
                        <span>Portafolio</span>
                    </a>
                </li>
                <li>
                    <a href="./servicios.html">
                        <img src="../assets/imgs/ico_card-checklist.svg" >
                        <span>Servicios</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assets/imgs/ico_arrow-through-heart.svg" >
                        <span>Experiencias</span>
                    </a>
                </li>
                <li>
                    <a href="./contacto.html">
                        <img src="../assets/imgs/ico_envelope-paper.svg" >
                        <span>Contacto</span>
                    </a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
    </header>

    <section class="container-fluid p-0 sectiones">
        <div class="row">
            <div class="col-12 hImgPages p-0">
                <img src="../assets/imgs/experiencia.jpg" alt="imagen contacto" class="img-fluid w-100">
            </div>
            <div class="col-12 text-center position-absolute textSectiones ">
                <h2 class="w-100">Experiencias</h2>
                <p class="text-light">
                    Exp Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime officia, 
                </p>
            </div>
        </div>
    </section>

    <!--main-->
    <main>
        <!--iconosClientes-->
        <section class="container d-none d-md-block">
            <article class="row">
                <div class="hoverMarcas col-12 col-md-4 p-0">
                    <img src="../assets/imgs/logosClientes-01.png" alt="Logo Cliente Uno" class="h-100 p-4">
                </div>
                <div  class="hoverMarcas col-12 col-md-4 p-0"><img src="../assets/imgs/logosClientes-02.png" alt="Logo Cliente dos" class="h-100 p-4"></div>
                <div  class="hoverMarcas col-12 col-md-4 p-0"><img src="../assets/imgs/logosClientes-03.png" alt="Logo Cliente tres" class="h-100 p-4"></div>
                <div  class="hoverMarcas col-12 col-md-4 p-0"><img src="../assets/imgs/logosClientes-04.png" alt="Logo Cliente cuatro" class="h-100 p-4"></div>
                <div  class="hoverMarcas col-12 col-md-4 p-0"><img src="../assets/imgs/logosClientes-05.png" alt="Logo Cliente cinco" class="h-100 p-4"></div>
                <div  class="hoverMarcas col-12 col-md-4 p-0"><img src="../assets/imgs/logosClientes-06.png" alt="Logo Cliente seis" class="h-100 p-4"></div>
                <div  class="hoverMarcas col-12 col-md-4 p-0"><img src="../assets/imgs/logosClientes-07.png" alt="Logo Cliente siete" class="h-100 p-4"></div>
                <div  class="hoverMarcas col-12 col-md-4 p-0"><img src="../assets/imgs/logosClientes-08.png" alt="Logo Cliente ocho" class="h-100 p-4"></div>
            </article>

           
        </section>

        <section class="container d-md-none">
            <article class="row">
                <div id="carouselExampleMarcas" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div  class="hoverMarcas col-12 p-0">
                                <img src="../assets/imgs/logosClientes-01.png" alt="Logo Cliente ocho" class="h-100 p-4">
                            </div>
                          </div><div class="carousel-item">
                            <div  class="hoverMarcas col-12 p-0"><img src="../assets/imgs/logosClientes-02.png" alt="Logo Cliente ocho" class="h-100 p-4"></div>
                          </div><div class="carousel-item">
                            <div  class="hoverMarcas col-12 p-0"><img src="../assets/imgs/logosClientes-03.png" alt="Logo Cliente ocho" class="h-100 p-4"></div>
                          </div><div class="carousel-item">
                            <div  class="hoverMarcas col-12 p-0"><img src="../assets/imgs/logosClientes-04.png" alt="Logo Cliente ocho" class="h-100 p-4"></div>
                          </div><div class="carousel-item">
                            <div  class="hoverMarcas col-12 p-0"><img src="../assets/imgs/logosClientes-05.png" alt="Logo Cliente ocho" class="h-100 p-4"></div>
                          </div><div class="carousel-item">
                            <div  class="hoverMarcas col-12 p-0"><img src="../assets/imgs/logosClientes-06.png" alt="Logo Cliente ocho" class="h-100 p-4"></div>
                          </div><div class="carousel-item">
                            <div  class="hoverMarcas col-12 p-0"><img src="../assets/imgs/logosClientes-07.png" alt="Logo Cliente ocho" class="h-100 p-4"></div>
                          </div><div class="carousel-item">
                            <div  class="hoverMarcas col-12 p-0"><img src="../assets/imgs/logosClientes-08.png" alt="Logo Cliente ocho" class="h-100 p-4"></div>
                          </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleMarcas" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleMarcas" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </article>
        </section>
        <!--Contacto-->
        <!--Contacto-->
        <section class="SecHrs text-center">
            <a href="./contacto.html" class="btn btn-primary pyx-10">Contáctanos</a>
                <div class="contHrs">
                    <h1 class="textHora text-center">
                        Hora de platicar | Hora de platicar | Hora de platicar | Hora de platicar
                        Hora de platicar | Hora de platicar | Hora de platicar | Hora de platicar | Hora de platicar| Hora de platicar | Hora de platicar | Hora de platicar | Hora de platicar | Hora de platicar
                    </h1>
                </div>
        </section>
    </main>

    <!--footer-->
    <footer class="container mt-4">
        <div class="row border-top border-secondary mt-4">
        <!--Mail-->
        <section class="p-2 col-xs-12 col-md-4">
            <div>
                <h4>¿Preguntas sobre negocios?</h4>
                
                <p class="c-orange">mail@mail.com</p>
            </div>
        </section>
        <!--Telefono-->
        <section class="p-2 col-xs-12 col-md-4">
            <div>
                <h4>¿Algo más personal?</h4>
                
                <p class="c-orange">00 0000 0000</p>
            </div>
        </section>
        <!--redesSociales-->
        <section class="p-2 col-xs-12 col-md-4">
            <div>
                <h4>Tenemos mucho que compartir</h4>
            </div>
                <div class="d-flex">
                    <div class="p-2">
                        <a href="#">
                            <img src="../assets/imgs/ico_facebook.svg" alt="Facebook">
                        </a>
                    </div>
                    <div class="p-2">
                        <a href="#">
                            <img src="../assets/imgs/ico_linkedin.svg" alt="Linkedin">
                        </a>
                    </div>
                    <div class="p-2">
                        <a href="#">
                            <img src="../assets/imgs/ico_youtube.svg" alt="Youtube">
                        </a>
                    </div>
                </div>
        </section>
        </div>
        <section class="text-center mt-2 border-secondary border-top p-4" >
            <span class="text-secondary ">2022 - Todos los Derechos Reservados</span>  
        </section>
    </footer>
    
    <!--JsBootstrap-->
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    
</body>
</html>