@import "./varColor";

.hoverMarcas{
    background-color: rgba(0,0,0,.0);
    transition:all .3s;
    transform: scale(1);
    filter: blur(1px);
    &:hover{
        background-color:rgba(0,0,0,.5); ;
        transition:all .3s;
        transform: scale(.95);
        filter: blur(0px);

    }
}
