.sectiones{
    .row{
        .hImgPages{
            overflow: hidden;
            -webkit-box-shadow: inset -1px 3px 8px 5px #000, 5px 5px 15px 5px rgba(0,0,0,0); 
            box-shadow: inset -1px 3px 8px 5px #000, 5px 5px 15px 5px rgba(0,0,0,0);
            img{
            height: 420px;
            opacity: .52;
            }
        }
        .textSectiones{
            h2{
                font-weight: 400;
                color: rgba(255,255,255,.15);
                padding-top: 150px;
                text-align: center;
                text-transform:uppercase;
                letter-spacing: 3rem;
                
            }
            p{
                color: #fff !important;
            }
            @media (max-width: 992px)
                {
                    h2{
                        font-size: 24pt;
                        letter-spacing: 1rem;}
                        p{
                            font-size: 20pt;
                        }
                }
        }

    }
}
