
$c-primary:#f24405;
$c-light:#f25c05;
$c-secondary:#8b3907;
$c-dark:#262626;
$c-white:#f2f2f2;

/*
*/

.text-primary{color: $c-primary !important;}
.text-light{color: $c-light !important;}
.text-secondary{color: $c-secondary !important;}
.text-white{color: $c-white !important;}



